.portfolio {
  width: 100%;
  box-sizing: border-box;
  padding: 0 70px 100px;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a0a0;
  margin: 0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 50px 0 0;
}

.portfolio__item {
  list-style: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 0 19px;
  opacity: 1;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__arrow-icn {
  background: url(../../images/portfolio-arrow.svg) no-repeat center;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .portfolio {
    padding: 90px 50px 79px;
  }

  .portfolio__link {
    font-size: 28px;

    line-height: 50px;
  }
}

@media (max-width: 400px) {
  .portfolio {
    padding: 52px 14px 0;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow-icn {
    width: 18px;
    height: 28px;
    margin: 0;
  }

  .portfolio__list {
    margin: 40px 0 50px;
  }
}
